<div class="sidebar">
    <!-- <h2 style="font-size: 20px; text-align: center; margin-bottom: 20px;"><i class="bi bi-person-circle"></i> Student Panel</h2> -->
    <h4 class="text-center mb-3"><i class="bi bi-person-circle"></i> Student Panel</h4>
    <a href="/student/dashboard"><i class="bi bi-house-door-fill"></i> Dashboard</a>
    <a href="/student-timetable"><i class="bi bi-calendar-check"></i> View My Timetable</a>
    <a href="/profile"><i class="bi bi-gear"></i> Profile & Settings</a>
    <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
</div>